<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- Paramètres de la connexion à la BDD -->

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:8889/musique</property>

		<property name="hibernate.connection.username">root</property>

		<property name="hibernate.connection.password">root</property>
		
		<!-- Paramètre BDD et Hibernate -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">false</property>
		
		<property name="format_sql">false</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Mapping des classes -->
		
		<mapping class="org.jacademie.projet1.domain.Artiste" />   
		
		<mapping class="org.jacademie.projet1.domain.Album" />  
		
		<mapping class="org.jacademie.projet1.domain.Chanson" />  

	</session-factory>
</hibernate-configuration>